h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

div {
  color: black;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.25em;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  margin: auto;
  margin-top: 2em;
}
.flexItem {
  background-color: rgb(9, 255, 0);
  border: 0.3em black solid;
  padding: 1em;
  margin-top: 2em;
}
